{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static "css/blog.css" %}">
</head>
<body>
	<header>
		<h1>My Blog</h1>
	</header>
	<div id="main">
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<aside>
			<div id="aside-text">
				<h3>My blog</h3>
				<p>This is my blog.</p>
			</div>
			<div class="triangle tr-top-left"></div>
			<div class="triangle tr-top-right"></div>
		</aside>
	</div>
	<footer>
		<p>Copyrights.</p>
	</footer>
</body>
</html>