{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static "css/blog.css" %}">
</head>
<body>
	<section class="header base-color">
		<h1>
			<a href="/">
				My Blog
			</a>
		</h1>
	</section>
	<section class="main main-color">
		<div class="content main-color">
			{% block content %}
			{% endblock %}
		</div>
		<aside class="sidebar-wrap main-color">
			<div class="sidebar">
				<div class="sidebar-top-gradient"></div>
				<h3>{% block sidebar-title %}My Blog{% endblock %}</h3>
				<div class="sidebar-text">
					{% block sidebar-text %}
					<p>This is my blog.</p>
					{% endblock %}
				</div>
			</div>
			<div class="triangle tr-top-left"></div>
			<div class="triangle tr-top-right"></div>
		</aside>
	</section>
	<section class="footer base-color">
		<p>Copyrights @ {% now "Y" %}.</p>
	</section>
</body>
</html>