{% extends 'blog/base.html' %}
{% load sidebar_extras %}

{% block title %}My Blog{% endblock %}

{% block content %}
	{% for post in posts %}
		<article>
			<h2>
				<a href="{{ post.get_absolute_url }}">
					{{ post.title }}
				</a>
			</h2>
			<p class="date">
				Published {{ post.publish }} by {{ post.author }}
			</p>
			{{ post.body | truncatewords:30 | linebreaks }}
		</article>
	{% endfor %}
	{% include "paginator.html" with page=posts %}
{% endblock %}

{% block sidebar-title %}{{ sb_title }}{% endblock %}

{% block sidebar-text %}
	{% if posts.has_next %}
		{% get_another_page posts.paginator page_num 1 as next_posts %}
        {% for post in next_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </p>
        {% endfor %}
	{% else %}
		<p>Nothing to see more(<br>
			Come back later.
		</p>
	{% endif %}
{% endblock %}