:root{
    --center-width: 800px;
    --main-bg-color: #fff;
    --base-color: #683bc1;
    --sidebar-bg-color: #81a3db;
    --sidebar-gradient-top-color: #94bcfb;
}

* {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%
}

body {
    background-color: var(--base-color);
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: 200px auto 50px;
}

.base-color {
    background-color: var(--base-color);
}

.main-color {
    background-color: var(--main-bg-color);
}

.header {
    grid-row: 1;
    grid-column: 2 / 3;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.header h1 {
    margin-top: 50px;
}

.header h1 a, .header h1 a:visited, .header h1 a:active {
    color: #ffffff;
    font-size: 56pt;
    text-decoration: none;
    text-shadow: 3px 3px 10px #200c46;
}

.main {
    grid-row: 2;
    grid-column: 1 / -1;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto 600px 80px 200px auto;
    grid-template-rows: 100%;
    box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.5);
    z-index: 10;
}

.content {
    grid-row: 1;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}

.date {
    font-size: 9pt;
    font-style: italic; 
    color: #828282;
}

.sidebar {
    min-height: 300px;
    background-color: var(--sidebar-bg-color);
    display: flex;
    flex-direction: column;
}

.sidebar-wrap{
    grid-row: 1;
    grid-column: 4 / 5;
}

.sidebar-text {
    margin: 0 auto;
}

.sidebar-top-gradient {
    width: 100%;
    height: 30px;
    background: linear-gradient(to top,
                 var(--sidebar-bg-color),
                 var(--sidebar-gradient-top-color))
}


.sidebar h1, .sidebar h2, .sidebar h3 {
    font-size: 24pt;
    color: #3b509c;
    text-shadow: 1px 1px 0px #b0c2e0;
    margin: 0 auto;
    margin-bottom: 10px;
}

.sidebar p, .sidebar a, .sidebar a:visited, .sidebar a:active{
    color: #051227;
    word-break: break-all;
}

.triangle {
    display: inline-block;
}

.tr-top-left {
    width: 0;
    height: 0;
    float: left;
    padding-bottom: 50%;
    padding-left: 50%;
    overflow: hidden;
}

.tr-top-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -500px;
    border-bottom: 500px solid transparent;
    border-left: 500px solid var(--sidebar-bg-color);
}

.tr-top-right {
    width: 0;
    height: 0;
    padding-left: 50%;
    padding-top: 50%;
    overflow: hidden;
}

.tr-top-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-500px;
    margin-top:-500px;
    
    border-left: 500px solid transparent;
    border-top: 500px solid var(--sidebar-bg-color);
}

.footer {
    grid-row: 3;
    grid-column: 2 / 3;
    padding-top: 20px; 
    text-align: center;
    font-weight: bold;
    color: white;
    /*background-color: var(--main-bg-color);*/
}

.copyrights {
    /*background-color: var(--main-bg-color);*/
}

/*
.main {
    min-height: 800px;
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

header {
    background-color: var(--main-bg-color);
    margin-top: 0;
    padding: 10px 20px 30px 40px;
    box-shadow: 0px -10px 15px -7px rgba(0,0,0,0.5) inset;
}

header h1, header h1 a, header h1 a:visited, header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-shadow: 3px 3px 10px #200c46;
}

sidebar {
    width: 16%;
    float: right;
    margin-right: 3%;
}

.sidebar-top-gradient {
    width: 100%;
    height: 30px;
    background: linear-gradient(to top,
                 var(--sidebar-bg-color),
                 var(--sidebar-gradient-top-color))
}

.sidebar-text {
    min-height: 200px;
    padding: 1px 10px 10px 30px;
    background: var(--sidebar-bg-color);
    border-left: 1px #969696d1 solid;
}

sidebar h1, sidebar h2, sidebar h3, sidebar p{
    color: #051227;
}

.triangle {
    display: inline-block;
}

.tr-top-left {
    width: 0;
    height: 0;
    float: left;
    padding-bottom: 50%;
    padding-left: 50%;
    overflow: hidden;
}

.tr-top-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -500px;
    border-bottom: 500px solid transparent;
    border-left: 500px solid var(--sidebar-bg-color);
}

.tr-top-right {
    width: 0;
    height: 0;
    padding-left: 50%;
    padding-top: 50%;
    overflow: hidden;
}

.tr-top-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-500px;
    margin-top:-500px;
    
    border-left: 500px solid transparent;
    border-top: 500px solid var(--sidebar-bg-color);
}

.content {
    display: inline-block;
    width: 76%;
    padding-left: 40px;
    margin-right: : 4%;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

a, a:visited {
    color: #000000;
}

footer {
    position: ;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    background: var(--main-bg-color);
    box-shadow: 0px 10px 15px -7px rgba(0,0,0,0.5) inset;
}

footer p {
    font-size: 9pt;
    color: #C0B6E6;
}*/